.container {
  padding-right: 1em;
  padding-left: 1em;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 320px) {
  .container {
    width: 100%; } }

@media (min-width: 1240px) {
  .container {
    width: 1100px; } }

@font-face {
  font-family: "Segoe UI";
  src: url("../../fonts/9404.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Segoe UI Bold";
  src: url("../../fonts/10391.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Segoe UI Semibold";
  src: url("../../fonts/10398.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Minion Pro";
  src: url("../../fonts/Minion Pro Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  line-height: 1.15; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  min-height: 100vh;
  font-size: 16px;
  font-family: sans-serif; }

h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none; }

input, textarea, button, a, img {
  outline: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

textarea {
  overflow: auto; }

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity; }
  a:hover, a:focus {
    opacity: 0.8; }

section {
  position: relative; }

.section-title {
  margin-bottom: 40px;
  text-align: center;
  font-family: "Minion Pro", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 27.11px;
  letter-spacing: 7.2px;
  text-transform: uppercase;
  color: #fefefe; }

@media (max-width: 480px) {
  .section-title {
    margin-bottom: 20px;
    font-size: 26px; } }

/*------------------------------------*\
	Back to top
\*------------------------------------*/
#back-to-top {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: transparent;
  border-radius: 50%;
  color: #FFF;
  z-index: 9999;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
  cursor: pointer; }
  #back-to-top:after {
    content: "\f176";
    font-family: 'FontAwesome';
    font-size: 24px; }
  #back-to-top:hover {
    opacity: 0.8; }

/*------------------------------------*\
	Dots
\*------------------------------------*/
.dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style: none; }
  .dots-b {
    bottom: 20px; }
    .dots-b li button {
      background-color: #00000075; }
  .dots-offset {
    bottom: -30px; }
    .dots-offset li button {
      background-color: #202020; }
  .dots li {
    margin: 0 5px; }
    .dots li button {
      width: 12px;
      height: 12px;
      font-size: 0;
      border: none;
      border-radius: 50%;
      cursor: pointer; }
  .dots li.slick-active button {
    background-color: #fff; }

/*------------------------------------*\
	overlay
\*------------------------------------*/
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .5;
  background: #1C1D21; }

/*------------------------------------*\
	btn slide
\*------------------------------------*/
.btn {
  display: block;
  padding: 10px 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "Segoe UI Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff;
  color: #101010; }

/*------------------------------------*\
	Reboot
\*------------------------------------*/
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  z-index: 99999; }

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  -webkit-animation: loader .8s linear infinite;
          animation: loader .8s linear infinite; }

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent; }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent; }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent; } }

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent; }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent; }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent; } }

.navbar {
  padding: 20px 0;
  background-color: #101010;
  z-index: 99; }
  .navbar .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .navbar__collapse {
    display: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    cursor: pointer; }
    .navbar__collapse span {
      position: relative;
      width: 25px;
      height: 2px;
      background-color: #fff;
      -webkit-transition: 0.2s all;
      -o-transition: 0.2s all;
      transition: 0.2s all; }
      .navbar__collapse span:before, .navbar__collapse span:after {
        content: '';
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: #fff;
        -webkit-transition: 0.2s all;
        -o-transition: 0.2s all;
        transition: 0.2s all; }
      .navbar__collapse span:before {
        top: -10px; }
      .navbar__collapse span:after {
        top: 10px; }
  .navbar__shop {
    margin-left: 40px; }
    .navbar__shop a {
      font-size: 22px;
      color: #fff; }

@media (min-width: 769px) {
  .menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .menu li {
      margin: 0 15px; }
      .menu li a {
        display: inline-block;
        padding: 10px 0;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        color: #fff; }
        .menu li a:after {
          content: "";
          position: absolute;
          width: 30%;
          height: 1px;
          bottom: -1px;
          left: 0;
          background-color: #fff;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          opacity: 0; }
        .menu li a:hover:after {
          width: 100%;
          opacity: 0.8; } }

@media (max-width: 1024px) {
  .logo img {
    width: 200px; } }

@media (max-width: 768px) {
  #nav.fixed {
    position: fixed;
    left: 0;
    right: 0; }
  #nav.open .navbar__collapse span {
    background: transparent; }
    #nav.open .navbar__collapse span:before {
      -webkit-transform: translateY(10px) rotate(-135deg);
          -ms-transform: translateY(10px) rotate(-135deg);
              transform: translateY(10px) rotate(-135deg); }
    #nav.open .navbar__collapse span:after {
      -webkit-transform: translateY(-10px) rotate(135deg);
          -ms-transform: translateY(-10px) rotate(135deg);
              transform: translateY(-10px) rotate(135deg); }
  #nav.open .navbar__menu {
    width: 100%;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%); }
  .navbar {
    padding: 10px 0;
    position: relative; }
    .navbar__collapse {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-right: 10px; }
    .navbar__menu {
      position: fixed;
      top: 63px;
      right: 0;
      height: -webkit-calc(100vh - 63px);
      height: calc(100vh - 63px);
      -webkit-box-shadow: 0px 80px 0px 0px #1C1D21;
              box-shadow: 0px 80px 0px 0px #1C1D21;
      max-width: 250px;
      width: 0%;
      -webkit-transform: translateX(100%);
          -ms-transform: translateX(100%);
              transform: translateX(100%);
      margin: 0;
      overflow-y: auto;
      background: #101010;
      -webkit-transition: 0.2s all;
      -o-transition: 0.2s all;
      transition: 0.2s all; }
      .navbar__menu li {
        border-top: 1px solid rgba(250, 250, 250, 0.1); }
        .navbar__menu li a {
          display: block;
          padding: 10px;
          color: #FFF;
          -webkit-transition: 0.2s all;
          -o-transition: 0.2s all;
          transition: 0.2s all; }
          .navbar__menu li a:hover, .navbar__menu li a:focus {
            background-color: #fff;
            color: #101010;
            opacity: 1; }
        .navbar__menu li.active {
          border-left: 6px solid #fff; }
    .navbar__shop {
      position: absolute;
      right: 80px; }
  .logo img {
    width: 150px; } }

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #101010; }

@media (max-width: 768px) {
  main {
    padding-top: 63px; } }

.footer {
  padding: 20px 0;
  background-color: #202020; }
  .footer .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative; }
  .footer__menu {
    margin-right: 60px; }

@media (max-width: 768px) {
  .footer .wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer__menu {
    display: none; } }

.card {
  padding: 50px 0; }
  .card .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .card__img {
    margin-right: 40px;
    position: relative;
    width: 460px; }
    .card__img .link {
      display: block;
      margin: 20px auto;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content; }
      .card__img .link i {
        margin-left: 6px; }
    .card__img .plan-img {
      width: 100%;
      height: 100%; }
      .card__img .plan-img img {
        width: 100%; }
    .card__img .gallery .slider-single {
      padding: 10px;
      width: 100%;
      height: 345px;
      background-color: #202020; }
      .card__img .gallery .slider-single > div:nth-child(1n+2) {
        display: none; }
      .card__img .gallery .slider-single.slick-initialized > div:nth-child(1n+2) {
        display: block; }
      .card__img .gallery .slider-single a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%; }
        .card__img .gallery .slider-single a img {
          margin: 0 auto;
          width: 100%;
          height: 345px;
          -o-object-fit: contain;
             object-fit: contain;
          border-radius: 3px; }
        .card__img .gallery .slider-single a .zoom {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          -webkit-transition: all .5s ease;
          -o-transition: all .5s ease;
          transition: all .5s ease;
          z-index: 1;
          opacity: 0; }
          .card__img .gallery .slider-single a .zoom i {
            font-size: 24px;
            color: #fff;
            text-shadow: 0 0 5px #000; }
        .card__img .gallery .slider-single a:hover .zoom {
          opacity: 1; }
    .card__img .gallery .slider-nav {
      margin-top: 10px;
      margin-left: -5px;
      margin-right: -5px;
      height: 100%; }
      .card__img .gallery .slider-nav .slick-slide.is-active > a {
        outline: 2px solid #fff;
        outline-offset: -2px;
        background-color: #202020; }
      .card__img .gallery .slider-nav .slick-slide {
        margin: 0 5px;
        width: 107px;
        height: 100px; }
      .card__img .gallery .slider-nav a {
        display: block;
        position: relative;
        width: 107px;
        height: 100px; }
        .card__img .gallery .slider-nav a img {
          width: 100%;
          height: 100%;
          -o-object-fit: contain;
             object-fit: contain; }
  .card__info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .card__info .title {
      font-family: "Minion Pro", sans-serif;
      font-size: 24px;
      font-weight: 400;
      color: #fff; }
    .card__info .review {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 20px 0; }
      .card__info .review .rating {
        margin-right: 20px; }
        .card__info .review .rating .fa-star {
          font-size: 16px;
          color: #202020; }
          .card__info .review .rating .fa-star:hover {
            color: #fff;
            cursor: pointer; }
        .card__info .review .rating .checked {
          color: #fff; }
      .card__info .review .amount {
        margin-right: 20px;
        font-family: "Segoe UI", sans-serif;
        font-size: 12px;
        color: #fff; }
      .card__info .review .add-review {
        padding-left: 20px;
        font-family: "Segoe UI", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: underline;
        border-left: 1px solid #fff;
        color: #fff; }
    .card__info .price {
      margin: 20px 0;
      font-family: "Minion Pro", sans-serif;
      text-transform: uppercase; }
      .card__info .price .old {
        display: inline-block;
        margin-right: 10px;
        font-size: 18px;
        text-decoration: line-through;
        color: #8f8f8f; }
      .card__info .price .current {
        display: inline-block;
        font-size: 22px;
        color: #fff; }
    .card__info .backet {
      display: block;
      margin: 20px 0;
      padding: 10px 15px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      font-family: "Segoe UI", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      background-color: #282828;
      color: #fff; }
      .card__info .backet:hover {
        outline: 2px solid #fff; }
    .card__info .feature {
      font-family: "Segoe UI", sans-serif;
      font-size: 14px;
      letter-spacing: 0.56px;
      color: #fff; }
      .card__info .feature li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 10px 0; }
        .card__info .feature li span {
          margin-right: 10px; }
        .card__info .feature li .select-box {
          display: block;
          position: relative;
          width: -webkit-max-content;
          width: -moz-max-content;
          width: max-content;
          font-family: "Segoe UI", sans-serif;
          font-size: 14px; }
          .card__info .feature li .select-box__current {
            position: relative;
            cursor: pointer;
            outline: none; }
            .card__info .feature li .select-box__current:focus + .select-box__list {
              opacity: 1;
              -webkit-animation-name: none;
                      animation-name: none; }
              .card__info .feature li .select-box__current:focus + .select-box__list .select-box__option {
                cursor: pointer; }
          .card__info .feature li .select-box__value {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex; }
          .card__info .feature li .select-box__input {
            display: none; }
            .card__info .feature li .select-box__input:checked + .select-box__input-text {
              display: block;
              border-bottom: 1px solid #fff; }
          .card__info .feature li .select-box__input-text {
            display: none;
            margin: 0;
            width: 100%;
            color: #fff;
            border-bottom: 1pa solid #fff; }
          .card__info .feature li .select-box__list {
            margin-top: 10px;
            padding: 0;
            position: absolute;
            list-style: none;
            background-color: #202020;
            opacity: 0;
            z-index: 10; }
          .card__info .feature li .select-box__option {
            display: block;
            width: 100%;
            padding: 10px 15px;
            background-color: #202020;
            color: #fff; }
            .card__info .feature li .select-box__option:hover, .card__info .feature li .select-box__option:focus {
              background-color: #727272; }

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0); } }

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0); } }
    .card__info .description {
      font-size: 14px;
      line-height: 28px;
      color: #fff; }

@media (max-width: 1240px) {
  .card__img {
    width: 360px; } }

@media (max-width: 768px) {
  .card .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .card__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px; }
  .card__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .card__info .description {
      margin-top: 20px;
      padding-top: 10px;
      position: relative; }
      .card__info .description:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 100px;
        height: 2px;
        background-color: #fff;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%); } }

@media (max-width: 580px) {
  .card__img .gallery .slider-single {
    height: 250px; }
    .card__img .gallery .slider-single a img {
      height: 250px; } }

@media (max-width: 480px) {
  .card {
    padding: 20px 0; }
    .card__img {
      margin-bottom: 50px;
      width: 100%; }
      .card__img:last-child {
        margin-bottom: 20px; }
      .card__img .gallery .slider-nav .slick-slide {
        height: auto; }
      .card__img .gallery .slider-nav a {
        width: auto;
        height: 80px; }
    .card__info .review .rating, .card__info .review .amount {
      margin-right: 10px; }
    .card__info .review .add-review {
      padding-left: 10px; } }

.history__header {
  background: url("../img/duck2-630x339.jpg") no-repeat center/cover; }
  .history__header h2 {
    padding: 300px 0;
    text-align: center;
    font-family: "Minion Pro", sans-serif;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 9.6px;
    text-transform: uppercase;
    color: #fff; }

.history-info {
  padding: 50px 0;
  background-color: #fff; }
  .history-info__heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .history-info__logo, .history-info__text {
    margin: 0 25px;
    width: -webkit-calc(100% / 2 - 50px);
    width: calc(100% / 2 - 50px); }
  .history-info__logo {
    margin-left: 0; }
  .history-info__text {
    margin-right: 0;
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.4px; }
  .history-info__criterion {
    margin-top: 60px;
    position: relative;
    width: 100%; }
  .history-info__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px; }
  .history-info__item {
    margin: 0 5px;
    position: relative;
    width: -webkit-calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
    height: 315px; }
    .history-info__item img {
      max-width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    .history-info__item span {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      text-align: center;
      font-family: "Segoe UI Bold", sans-serif;
      line-height: 25.65px;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      color: #fff;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.history-text {
  padding: 100px 0;
  background: url("../img/history-text-bg.png") no-repeat center/cover; }
  .history-text__content {
    padding: 30px;
    border: 2px solid #fff; }
    .history-text__content p {
      margin: 15px 0;
      text-align: center;
      font-family: "Segoe UI", sans-serif;
      line-height: 26px;
      letter-spacing: 0.4px;
      color: #fff; }

.history-categories {
  padding: 80px 0;
  background-color: #fff; }
  .history-categories .filtering {
    position: relative; }
    .history-categories .filtering-cat {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px; }
      .history-categories .filtering-cat li {
        margin: 15px;
        width: -webkit-calc(100% / 3 - 30px);
        width: calc(100% / 3 - 30px);
        -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.15); }
      .history-categories .filtering-cat .cat {
        padding: 30px 0;
        width: 100%;
        text-align: center;
        border: none;
        font-family: "Minion Pro", sans-serif;
        font-size: 22px;
        letter-spacing: 4.4px;
        text-transform: uppercase;
        background-color: transparent;
        cursor: pointer; }
    .history-categories .filtering-content {
      margin-top: 40px; }
      .history-categories .filtering-content__cat {
        display: none;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 40px 0;
        overflow: hidden;
        opacity: 0; }
        .history-categories .filtering-content__cat:first-child {
          margin-top: 0; }
        .history-categories .filtering-content__cat:last-child {
          margin-bottom: 0; }
        .history-categories .filtering-content__cat.active {
          opacity: 1;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-animation: fadeIn 0.65s ease forwards;
                  animation: fadeIn 0.65s ease forwards; }
        .history-categories .filtering-content__cat .text {
          margin: 10px 0;
          width: 100%; }
          .history-categories .filtering-content__cat .text h4 {
            font-family: "Segoe UI", sans-serif;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 0.55px;
            text-transform: uppercase; }
          .history-categories .filtering-content__cat .text p {
            margin: 10px 0 0;
            font-family: "Segoe UI", sans-serif;
            line-height: 30px;
            letter-spacing: 0.4px; }
          .history-categories .filtering-content__cat .text .progress-bar .bar {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            margin: 10px 0;
            font-family: "Segoe UI", sans-serif;
            font-size: 16px;
            line-height: 27.11px;
            text-transform: uppercase; }
            .history-categories .filtering-content__cat .text .progress-bar .bar:last-child {
              margin-bottom: 0; }
          .history-categories .filtering-content__cat .text .progress-bar .name {
            margin-right: 15px;
            width: 120px; }
          .history-categories .filtering-content__cat .text .progress-bar .rating {
            margin-left: 15px; }
        .history-categories .filtering-content__cat .img {
          height: 430px; }

.history-reasons {
  padding: 80px 0;
  background-color: #101010; }
  .history-reasons .title {
    color: #fff; }
  .history-reasons__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0; }
  .history-reasons__item {
    position: relative;
    width: -webkit-calc(100% / 5);
    width: calc(100% / 5); }
    .history-reasons__item:nth-child(1):before {
      content: '1'; }
    .history-reasons__item:nth-child(2):before {
      content: '2'; }
    .history-reasons__item:nth-child(3):before {
      content: '3'; }
    .history-reasons__item:nth-child(4):before {
      content: '4'; }
    .history-reasons__item:nth-child(5):before {
      content: '5'; }
    .history-reasons__item:before {
      position: absolute;
      top: 50%;
      left: 50%;
      font-family: "Segoe UI", sans-serif;
      font-size: 200px;
      color: #ffffff;
      opacity: 0.35;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .history-reasons__item img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
    .history-reasons__item span {
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      font-family: "Segoe UI", sans-serif;
      line-height: 30px;
      letter-spacing: 0.6px;
      font-size: 22px;
      color: #fff;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 2; }
  .history-reasons__text p {
    margin: 0;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.4px;
    color: #fff; }

.history .title {
  margin-bottom: 40px;
  text-align: center;
  font-family: "Segoe UI", sans-serif; }
  .history .title h4 {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.55px;
    text-transform: uppercase; }
  .history .title p {
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.4px; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media (min-width: 1641px) {
  .history-categories .filtering-content__cat .img img {
    width: 100%; } }

@media (max-width: 1640px) {
  .history-categories .filtering-content__cat .img img {
    max-width: 100%; } }

@media (min-width: 769px) {
  .history-categories .filtering-content__cat:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .history-categories .filtering-content__cat:nth-child(even) .text {
      margin-left: 30px; }
      .history-categories .filtering-content__cat:nth-child(even) .text .wrap {
        margin-left: auto; }
    .history-categories .filtering-content__cat:nth-child(even) .img {
      -webkit-transform: translateX(100%);
          -ms-transform: translateX(100%);
              transform: translateX(100%); }
  .history-categories .filtering-content__cat:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .history-categories .filtering-content__cat:nth-child(odd) .text {
      margin-right: 30px; }
    .history-categories .filtering-content__cat:nth-child(odd) .img {
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%); }
  .history-categories .filtering-content__cat .text {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
    .history-categories .filtering-content__cat .text .wrap {
      width: 60%; }
  .history-categories .filtering-content__cat .img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 100%;
    width: 100%; }
    .history-categories .filtering-content__cat .img img {
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .history-reasons__item:nth-child(even) {
    top: -10px; } }

@media (max-width: 1366px) {
  .history__header h2 {
    padding: 150px 0; } }

@media (max-width: 1024px) {
  .history-info {
    padding: 20px 0; }
    .history-info__logo {
      display: none; }
    .history-info__text {
      margin-left: 0;
      width: 100%; }
      .history-info__text p {
        margin: 0; }
    .history-info__criterion {
      margin-top: 20px; }
    .history-info__list {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .history-info__item {
      margin: 5px;
      width: 275px; }
  .history-text {
    padding: 40px 0; }
  .history-categories {
    padding: 40px 0; }
  .history .title {
    margin-bottom: 20px; } }

@media (max-width: 768px) {
  .history__header h2 {
    padding: 100px 0; }
  .history-categories {
    padding: 40px 0 0; }
    .history-categories .filtering-cat li {
      width: -webkit-calc(100% / 2 - 30px);
      width: calc(100% / 2 - 30px); }
    .history-categories .filtering-cat .cat {
      padding: 15px 0; }
    .history-categories .filtering-content {
      margin-top: 20px; }
      .history-categories .filtering-content__cat {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .history-categories .filtering-content__cat .text h4, .history-categories .filtering-content__cat .text p {
          text-align: center; }
        .history-categories .filtering-content__cat .text .progress-bar {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          margin: 15px 0; }
        .history-categories .filtering-content__cat .img {
          height: 300px; }
          .history-categories .filtering-content__cat .img img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover; }
  .history-reasons {
    padding: 30px 0; }
    .history-reasons__item {
      width: -webkit-calc(100% / 3);
      width: calc(100% / 3); } }

@media (max-width: 480px) {
  .history__header h2 {
    padding: 60px 0;
    font-size: 28px; }
  .history-categories {
    padding: 20px 0 0; }
    .history-categories .filtering-cat {
      margin-left: 0;
      margin-right: 0; }
      .history-categories .filtering-cat li {
        margin: 10px 0;
        width: 100%; }
      .history-categories .filtering-cat .cat {
        padding: 5px 0;
        font-size: 16px; }
  .history-reasons__item {
    width: -webkit-calc(100% / 2);
    width: calc(100% / 2); }
  .history .title h4 {
    font-size: 18px; } }

@media (max-width: 375px) {
  .history-categories .filtering-content__cat .text .progress-bar .name, .history-categories .filtering-content__cat .text .progress-bar .rating {
    font-size: 14px; }
  .history-categories .filtering-content__cat .text .progress-bar .name {
    margin-right: 8px;
    width: 100px; }
  .history-categories .filtering-content__cat .text .progress-bar .rating {
    margin-left: 8px; } }

#popup-modal {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #000 url("../img/pop-bg.png") no-repeat center/cover;
  color: #fff; }
  #popup-modal .wrap {
    padding: 20px;
    text-align: center;
    border: 2px solid #fff; }
    #popup-modal .wrap h2 {
      font-family: "Minion Pro", sans-serif;
      font-size: 36px;
      font-weight: 500;
      line-height: 27.11px;
      letter-spacing: 7.2px;
      text-transform: uppercase; }
    #popup-modal .wrap p {
      font-family: "Segoe UI", sans-serif;
      font-size: 20px;
      line-height: 18px; }
    #popup-modal .wrap span.perc {
      font-family: "Segoe UI Bold", sans-serif;
      font-size: 120px; }
    #popup-modal .wrap a {
      display: block;
      margin: 10px auto 0;
      padding: 10px 25px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      border: 1px solid #fff;
      font-family: "Segoe UI", sans-serif;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      color: #fff; }

@media (max-width: 768px) {
  #popup-modal {
    width: auto; }
    #popup-modal .wrap h2 {
      font-size: 24px; }
    #popup-modal .wrap span.perc {
      font-size: 60px; } }

@media (max-width: 480px) {
  #popup-modal {
    padding: 30px; }
    #popup-modal .wrap {
      padding: 10px; } }

.home__slider .slide {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .home__slider .slide .overlay {
    z-index: 1; }
  .home__slider .slide .wrap {
    padding: 100px 0;
    position: relative;
    z-index: 2; }
  .home__slider .slide__heading {
    font-family: "Minion Pro", sans-serif;
    font-size: 30px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #fff; }
  .home__slider .slide__description {
    max-width: 400px;
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #fff; }
  .home__slider .slide__btn {
    margin-top: 30px; }

@media (max-width: 1024px) {
  .home__slider .slide .wrap {
    padding: 50px 0;
    text-align: center; }
  .home__slider .slide__description {
    margin: 15px auto; }
  .home__slider .slide__btn {
    margin: 30px auto 0; } }

@media (max-width: 768px) {
  .home__slider .slide__description {
    max-width: 100%; } }

.category {
  padding: 60px 0; }
  .category__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .category__item {
    margin: 15px;
    position: relative;
    width: -webkit-calc(100% / 2 - 30px);
    width: calc(100% / 2 - 30px);
    overflow: hidden; }
    .category__item:hover .img {
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05); }
    .category__item .img {
      max-width: 100%;
      -webkit-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease; }
    .category__item .title {
      padding: 0 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      text-align: center;
      font-family: "Segoe UI Bold", sans-serif;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 4.8px;
      color: #fff;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
      .category__item .title:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 300%;
        background: rgba(0, 0, 0, 0.6);
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        z-index: -1; }

@media (max-width: 1024px) {
  .category__item .title {
    font-size: 18px; } }

@media (max-width: 650px) {
  .category__list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .category__item {
    margin: 15px 0;
    max-width: 320px;
    width: 100%; }
    .category__item:last-child {
      margin-bottom: 0; } }

@media (max-width: 480px) {
  .category {
    padding: 30px 0; } }

.featured, .recently {
  padding: 60px 0; }
  .featured__list, .recently__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .featured__item, .recently__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15px;
    position: relative;
    width: -webkit-calc(100% / 3 - 30px);
    width: calc(100% / 3 - 30px);
    background-color: #202020; }
    .featured__item .notice, .recently__item .notice {
      position: absolute;
      top: 0;
      left: 0;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content; }
      .featured__item .notice span, .recently__item .notice span {
        display: block;
        padding: 10px 15px;
        width: 100%;
        height: 100%;
        font-family: "Segoe UI", sans-serif;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff; }
        .featured__item .notice span.new, .recently__item .notice span.new {
          background-color: #7cc576; }
        .featured__item .notice span.sale, .recently__item .notice span.sale {
          background-color: #f9ad81; }
    .featured__item .img, .recently__item .img {
      padding: 10px;
      height: 250px;
      border-bottom: 1px solid #494949; }
      .featured__item .img a, .recently__item .img a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        height: 100%; }
        .featured__item .img a img, .recently__item .img a img {
          max-width: 100%;
          height: auto; }
    .featured__item .info, .recently__item .info {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin: 20px 10px; }
    .featured__item .rating, .recently__item .rating {
      margin-bottom: 15px; }
      .featured__item .rating span.fa-star:hover, .recently__item .rating span.fa-star:hover {
        color: #fdc483;
        cursor: pointer; }
      .featured__item .rating .checked, .recently__item .rating .checked {
        color: #ffa235; }
    .featured__item .title, .recently__item .title {
      margin: 0 0 15px;
      font-family: "Minion Pro", sans-serif;
      font-size: 18px;
      color: #fff; }
    .featured__item .price, .recently__item .price {
      margin: 0 10px 20px;
      font-family: "Minion Pro", sans-serif;
      text-transform: uppercase; }
      .featured__item .price .old, .recently__item .price .old {
        display: inline-block;
        margin-right: 10px;
        font-size: 18px;
        text-decoration: line-through;
        color: #8f8f8f; }
      .featured__item .price .current, .recently__item .price .current {
        display: inline-block;
        font-size: 22px;
        color: #fff; }
    .featured__item .backet, .recently__item .backet {
      padding: 10px 15px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      font-family: "Segoe UI", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      background-color: #282828;
      color: #fff; }
  .featured__btn, .recently__btn {
    display: block;
    margin: 20px auto 0;
    padding: 10px 15px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #282828;
    color: #fff; }
    .featured__btn:hover, .recently__btn:hover {
      outline: 1px solid #fff; }

@media (min-width: 769px) {
  .featured__item .backet, .recently__item .backet {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity;
    opacity: 0; }
    .featured__item .backet:hover, .recently__item .backet:hover {
      outline: 1px solid #fff; }
  .featured__item:hover .backet, .recently__item:hover .backet {
    -webkit-transition-delay: 0.2s;
         -o-transition-delay: 0.2s;
            transition-delay: 0.2s;
    opacity: 1; } }

@media (max-width: 768px) {
  .featured__item, .recently__item {
    width: -webkit-calc(100% / 2 - 30px);
    width: calc(100% / 2 - 30px); }
    .featured__item .backet, .recently__item .backet {
      margin: 0 auto 20px; } }

@media (max-width: 480px) {
  .featured, .recently {
    padding: 30px 0; }
    .featured__list, .recently__list {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .featured__item, .recently__item {
      margin: 15px 0;
      max-width: 320px;
      width: 100%; } }

.subscribe {
  padding: 30px 0 60px; }
  .subscribe__form form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
    .subscribe__form form input {
      margin: 0 15px;
      height: 60px; }
    .subscribe__form form input[type=email] {
      text-align: center;
      font-family: "Segoe UI", sans-serif;
      font-size: 18px;
      letter-spacing: 3.6px;
      text-transform: uppercase;
      border: 2px solid #ffffff;
      background-color: transparent;
      color: #fefefe; }
    .subscribe__form form input[type=submit] {
      padding: 0 30px;
      font-family: "Segoe UI Bold", sans-serif;
      font-size: 24px;
      letter-spacing: 4.8px;
      text-transform: uppercase; }

@media (min-width: 768px) {
  .subscribe__form form input[type=email] {
    width: 430px; } }

@media (max-width: 768px) {
  .subscribe__form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .subscribe__form form input {
      display: block;
      margin: 15px 0;
      max-width: 400px;
      width: 100%; }
      .subscribe__form form input:last-child {
        margin-bottom: 0; } }
